.navbar {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #002776;
}

.navbar li {
    float: left;
    height:100%;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    height: 100%;
}

.navbar li a:hover {
    background-color: #A0CFEB;
}


h1 {
    text-align: center;
    text-color: #002776;
    font-family: EB Garamond;
}

body {
    font-family: Open Sans;
}

.flashes {
    font-style: italic;
    color: red;
}

.event {
    text-align: center;
    width: 15%;
    background: #002776;
    color: white;
    float: left;
    margin: 10px;
}

.event-name {
    font-family: EB Garamond;

}

.event-logistics {
    font-family: Open Sans;
}

.title-events {
    font-family: EB Garamond;
    font-weight: bold;
    font-size: 15px;
}

.events {
    font-family: Open Sans;
}

