{% extends "base.html" %}
{% block title %}Register Organization{% endblock %}
{% block header %}Register Your Organization{% endblock %}
{% block form %}
<p> Please provide the following details of your organization.<br>
<p> * Required fields </p>

<form method="POST" action="/register/">
  <fieldset><legend>Organization Information</legend>
        <table>
	  <tr>
            <td><label for="org-name">* Name </label></td>
	    <td><input type="text" name="org-name"></td>
	  </tr>

	  <tr>
	    <td><label for="org-description">Description </label></td>
            <td><input type="text" name="org-description"></td>
	  </tr>
	  <tr>
	    <td><label for="org-email">Email </label></td>
            <td><input type="email" name="org-email"></td>
	  </tr>
	  <tr>
	    <td><label for="org-website">Website URL </label></td>
            <td><input type="text" name="org-website"></td>
	  </tr>
	  <tr>
	    <td><label for="org-type">Type</label></td>
	    <td><select name="org-type">
		<option value="Academic">Academic
		<option value="Career">Career
		<option value="CGHP Affiliates">CGHP Affiliates	
		<option value="Cultural">Cultural
		<option value="Media & Publication">Media & Publication
		<option value="Performance & Arts">Performance & Arts
		<option value="Political">Poltical
		<option value="Religious">Religious
		<option value="Social Justice & Awareness">Social Justice & Awareness
		<option value="Societies">Societies
		<option value="Sports & Teams">Sports and Teams
		<option value="Volunteer">Volunteer
	    </select></td>
	 </tr>
	</table>
  </fieldset>
  <fieldset><legend>Organization Contact Information</legend>
    <table>
      <tr>
	<td><label for="org-contact">* Head Contact </label></td>
        <td><input type="text" name="org-contact"></td>
      </tr>
      <tr>
	<td><label for="org-cont-bnum">* Head Contact BNumber </label></td>
        <td><input type="text" name="org-cont-bnum"></td>
      </tr>
      <tr>
	<td><label for="org-cont-email">* Head Contact Email </label></td>
	<td><input type="test" name="org-cont-email"></td>
      </tr>
      <tr>
	<td><label for="org-cont-type">Head Contact is a </label></td>
	<td><select name="org-cont-type">
	  <option value="Staff">Staff
	  <option value="Student">Student
	</select></td>
      </tr>
      </table>
    </fieldset>

	<input type="submit">	

</form>

{% endblock %}
